
<div class="container">
    <div class="row" >

        <ul class="nav navbar-nav">
          <li >
            <button type="button" class="list-group-item" (click)="onclickHome()" style="font-size: 20px;">Home</button>
          </li>
          <li >
              <button type="button" class="list-group-item" (click)="onclickBack()" style="font-size: 20px;">Back</button>
            </li>
          <li>
              <button type="button" class="list-group-item" (click)="onClickLogout()" style="font-size: 20px;">LOG OUT</button>
            </li>
        </ul>

      </div>

    <br>
    <hr>
    <b style="font-size: 50px;">
        PAST ORDER DETAILS</b>

    <br>
    <hr>
    <br>



        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort style="width: 100%;">

            <!-- Position Column -->
            <ng-container matColumnDef="dish_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DISH NAME. </th>
              <td mat-cell *matCellDef="let element"> {{element.dish_name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> qty </th>
              <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
            </ng-container>


            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>

              <ng-container matColumnDef="remark">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Remark </th>
                  <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;">
            </tr>
          </table>
          <br>
          <br>
          <mat-paginator [pageSizeOptions]="[1, 2, 5]">
          </mat-paginator>
          <br>
          </div>



