
<div class="container">

    <hr>
    <div class="form-group">
      <!-- <h3>Email Id :- </h3>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Email_Id" aria-describedby="basic-addon2" [(ngModel)]="email_id">
        <span class="input-group-addon" id="basic-addon1">@example.com</span>
      </div>
       -->
       <mat-form-field class="example-full-width" hintLabel="Must be valid Email Id">
        <input matInput
        name="email_id"
        ngModel
        #email_id="ngModel"
        required
        email
        placeholder="Email Id"
        [(ngModel)]="email_id1"
        >
        <mat-error *ngIf="email_id?.hasError('required')">
          email id is required
        </mat-error>

        <mat-error *ngIf="!email_id?.hasError('required')">
          email id is not valid
        </mat-error>
      </mat-form-field>

      <!-- <h3>password :- </h3>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon2" [(ngModel)]="password">
      </div> -->

      <mat-form-field class="example-full-width" hintLabel="Must conatin 8 characters">
         <input matInput
        name="password"
        ngModel
        #password="ngModel"
        required
        [type]="flag ? 'password' : 'text'"
        placeholder="Password"
        [(ngModel)]="password1"
        >
       <mat-icon matSuffix (click)="flag = !flag">{{flag ? 'visibility' : 'visibility_off'}}</mat-icon>
       <mat-hint align="end">{{password.value.length}}/8</mat-hint>
        <mat-error *ngIf="password.hasError('required')">
          password is required
        </mat-error>
      </mat-form-field>

    </div>
    <div class="btn-group">
        <!-- <button (click)="onclicklogin()" style="background-color:cornflowerblue;font-size: 30px;">Log In</button> -->
        <button mat-raised-button (click)="onclicklogin()" color="primary">Log In</button>
  </div>



  <div class="atag">
  <a mat-raised-button (click)="onclicknew()" routerLink=".">New User?</a>
  <a mat-raised-button (click)="onclickforget()" routerLink=".">Forget Password?</a>
  <a mat-raised-button (click)="onclickAdmin()" routerLink=".">Admin?</a>
</div>
  </div>
