<div class="container">
  <h1>Add Cusine Form</h1>
  <hr>
  <div class="form-group">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Cusine_name" name="Cusine_name" [(ngModel)]="cusine_name">
      </mat-form-field>
    </form>
  </div>

  <div class="form-group">
    <button (click)="onadd()" style="width: 20%;height: 50px;margin-left: 20px;border-radius: 2px;background-color: cornflowerblue;font-size: 20px;">Add Cusine</button>
    <button (click)="onback()" style="width: 20%;height: 50px;margin-left: 20px;border-radius: 2px;background-color: cornflowerblue;font-size: 20px;">Back</button>
  </div>
