<div class="container">

  <div class="row" >
    <ul class="nav navbar-nav">
      <li *ngFor="let item of cusine_arr">
        <button type="button" class="list-group-item" (click)="onClick(item.cusine_name)" style="font-size: 20px;">{{item.cusine_name}}</button>
      </li>
      <li>
          <button type="button" class="list-group-item" (click)="onClickpast()" style="font-size: 20px;">PAST ORDER</button>
        </li>
      <li>
        <button type="button" class="list-group-item" (click)="onClickLogout()" style="font-size: 20px;">LOG OUT</button>
      </li>
    </ul>

  </div>
  <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <ul >
        <li *ngFor="let item of cusine_arr">
          <button type="button" class="list-group-item" (click)="onClick(item.cusine_name)" >{{item.cusine_name}}</button>
        </li>
        <li>
            <button type="button" class="list-group-item" (click)="onClickpast()" >PAST ORDER</button>
          </li>
        <li>
          <button type="button" class="list-group-item" (click)="onClickLogout()" >LOG OUT</button>
        </li>
      </ul>

</mat-menu> -->
<br>
  <div class="row" >
    <div class="col-md-8">
      <div class="row">
        <div *ngFor="let item of cusine_dish_arr,let i=index" class="col-sm-6 col-md-4">
          <button type="button" class="list-group-item" (click)="ondish(item,i)">
            <div class="thumbnail">
              <img src="http://{{ip}}:3000/images/dish/{{item.dish_img}}" alt="...">
              <div class="caption">

                <h4>{{item.dish_name}}</h4>

                <h4>Price : {{item.dish_price}}</h4>

        .      </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row" >
          <h1>BILL</h1>
          <h3>Dish : </h3>

      </div>
      <table class="table">
        <th></th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Remark</th>
        <tr *ngFor="let item of bill;let i=index">
          <td><img src="http://{{ip}}:3000/images/dish/{{item.dish_img}}" alt="..." style="height: 30px;width:30px;border-radius: 20px;"></td>
          <td>{{item.dish_name}}</td>
          <td><input type="number" style="width: 50px;" (change)="onChange(item,i)" [(ngModel)]="qtyarr[i]"></td>
          <td>{{pricearr[i]}}</td>
          <td><input type="text" [(ngModel)]="remarkarr[i]" value=" "></td>
          <td>
            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="onDelete(i)">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </td>

        </tr>
      </table>
      <div class="row" >
          <h1>Total : {{total}}</h1>
          <button *ngIf="bill.length>0" class="btn btn-primary" (click)="onClickPayment()" >Payment</button>
      </div>
    </div>
  </div>
</div>

